.searchpage {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  